@model List<SliderModel>﻿
@{
int index = 0;
}
<style>
	.carousel-inner {
		width: 100%;
		
	}
</style>
<section id="slider">
	<!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<
					<ol class="carousel-indicators">
						@for (int i = 0; i < Model.Count; i++)
						{
							<li data-target="#sliderCarousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
						}
					</ol>

					<div class="carousel-inner">



						@foreach (var slider in Model)
						{
							<div class="item @(index == 0 ? "active" : "")">

								<div class="col-sm-12">
									<img src="~/images/@slider.Image" class="girl img-responsive" width="90%"alt="" />

								</div>
							</div>
							index++;
						}




					</div>

					<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>

			</div>
		</div>
	</div>
</section><!--/slider-->