@{
    ViewData["Title"] = "Payment Failed";
}
<div class="container" style="padding:40px;">
    <h2 class="text-danger"><i class="fa fa-times-circle"></i> Thanh toán thất bại</h2>
    <p>Thanh toán không thành công hoặc đã bị hủy. Vui lòng thử lại hoặc liên hệ hỗ trợ.</p>
    <a class="btn btn-default" asp-controller="Cart" asp-action="Index">Quay lại giỏ hàng</a>
</div>
