@model IEnumerable<ProductModel>

@{

    var sliders = ViewBag.ActiveSliders as List<SliderModel> ?? new List<SliderModel>();
}

<partial name="SliderPartial" model="@sliders" />

<div class="col-sm-3">
    <partial name="_SidebarPartial" />
</div>
<div class="col-sm-9 padding-right">
    <div class="features_items">
        <h2 class="title text-center">Features Items</h2>
        <partial name="_ProductPartial" />
    </div>
</div>
@section Scripts {
    <script>

        $('.add-to-cart').click(function () {
            var Id = $(this).data("product-id");

            //alert(product_id);

            $.ajax({
                type: "POST",
                url: "@Url.Action("Add", "Cart")",
                data: { Id: Id }, // Send data to the server

                success: function (result) {
                    // Handle successful update
                    if (result) {

                        Swal.fire("Thêm giỏ hàng thành công.");
                    }
                }

            });
        });

    </script>
}